<div class="row">
  <div class="col-md-6">
    <h3>Before the workshop</h3>
    <table class="table table-striped">
      <tr> <td>     </td>  <td>Fill in the <a href="https://forms.gle/ncvpfEpQoet2Dtg76" target="_blank">pre-workshop survey</a></td> </tr>
      <tr> <td>     </td>  <td>Create a <a href="https://github.com" target="_blank">GitHub</a> account</td> </tr>
      <tr> <td>     </td>  <td>Follow the setup instructions to get Bash Shell, Git, Python, and VS Code running</td> </tr>
    </table>
    <h3>Workshop Day</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td>  <td>Talk: How to gear up for Bioinformatics</td> </tr>
      <tr> <td>16:20</td>  <td>Demo: Building your academic profile website with GitHub pages</td> </tr>
      <tr> <td>16:40</td>  <td>Demo: Running a bioinformatics pipeline with Snakemake</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
    <h3>After the workshop</h3>
    <table class="table table-striped">
      <tr> <td>     </td>  <td>Submit <a href="https://github.com/Synbio-id/getting-started-in-bioinformatics/issues" target="_blank">issues</a> and jump for a <a href="https://github.com/Synbio-id/getting-started-in-bioinformatics/discussions" target="_blank">discussion</a> in the GitHub repository</td> </tr>
      <tr> <td>     </td>  <td>Showcase your new github page!</td> </tr>
    </table>
  </div>
</div>
