<div class="row">
  <div class="col-md-6">
    <h3>Before the workshop</h3>
    <table class="table table-striped">
      <tr> <td>     </td>  <td>Fill in the <a href="https://forms.gle/ncvpfEpQoet2Dtg76" target="_blank">pre-workshop survey</a></td> </tr>
      <tr> <td>     </td>  <td>Create a <a href="https://github.com" target="_blank">GitHub</a> account</td> </tr>
      <tr> <td>     </td>  <td>Follow the setup instructions to get Bash Shell, Git, Python, and VS Code running</td> </tr>
    </table>
    <h3>Workshop Day</h3>
    <table class="table table-striped">
      <tr> <td>19:30</td>  <td>Talk: <a href="https://docs.google.com/presentation/d/1WUTBH9nZgscYPlszP8--hr8sb6MWnOl5B7fcDxaghyg/edit?usp=sharing" target="_blank">Gearing up for Bioinformatics</a></td> </tr>
      <tr> <td>19:50</td>  <td>Demo: <a href="https://academicpages.github.io/" target="_blank">Building your academic profile website with GitHub pages</a></td> </tr>
      <tr> <td>20:10</td>  <td>Demo: <a href="https://github.com/matinnuhamunada/trycycler_snakemake_wrapper" target="_blank">Running a bioinformatics pipeline with Snakemake</a></td> </tr>
      <tr> <td>20:30</td>  <td>END</td> </tr>
    </table>
    <h3>After the workshop</h3>
    <table class="table table-striped">
      <tr> <td>     </td>  <td>Submit <a href="https://github.com/Synbio-id/getting-started-in-bioinformatics/issues" target="_blank">issues</a> and jump for a <a href="https://github.com/Synbio-id/getting-started-in-bioinformatics/discussions" target="_blank">discussion</a> in the GitHub repository</td> </tr>
      <tr> <td>     </td>  <td>Showcase your new github page!</td> </tr>
    </table>
  </div>
</div>
