<div class="row">
  <div class="col-md-6">
    <h3>Before the workshop</h3>
    <table class="table table-striped">
      <tr> <td>     </td>  <td>Fill in the pre-workshop survey</td> </tr>
      <tr> <td>     </td>  <td>Make a GitHub account</td> </tr>
      <tr> <td>     </td>  <td>Follow the setup instructions to get Bash Shell, Git, Python, and VS Code running</td> </tr>
    </table>
    <h3>Workshop Day</h3>
    <table class="table table-striped">
      <tr> <td>16:00</td>  <td>Talk: How to gear up for Bioinformatics</td> </tr>
      <tr> <td>16:20</td>  <td>Demo: Building your academic profile website with GitHub pages</td> </tr>
      <tr> <td>16:40</td>  <td>Demo: Running a bioinformatics pipeline with Snakemake</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
    <h3>After the workshop</h3>
    <table class="table table-striped">
      <tr> <td>     </td>  <td>Submit issues and jump for a discussion in the GitHub repository</td> </tr>
      <tr> <td>     </td>  <td>Showcase your new github page!</td> </tr>
    </table>
  </div>
</div>
